%h1 ListLibrary

%p
  ListLibrary provides free, highly-readable public mailing list archives. If you
  run a list, we'd be happy to archive it. (More <a href="/about">about</a> the site.)

.lists
  <h2>All Lists</h2>
  %ul
    - @lists.each do |list|
      %li= "<a href=\"/#{list.slug}\">#{(list['name'] or list.slug)}</a>"

.snippets
  <h2>Recent Messages</h2>
  %ul
    - @snippets.each do |snippet|
      %li
        %a.subject{ :href => snippet[:url] }= subject(snippet[:subject])
        %span.excerpt= h snippet[:excerpt]
