%h1.subject= subject(@thread)

= partial 'thread/_thread_line.html', :locals => { :thread => @thread, :list => @list, :slug => @slug, :year => @year, :month => @month }
= partial 'thread/_previous_next.html', :locals => { :previous_link => @previous_link, :next_link => @next_link }

= partial 'month/_thread_list.html', :locals => { :thread => @thread }

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //thread top 728x90
    google_ad_slot = "3323202291";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

.thread
  - @missing_count = 0
  = @thread.collect { |c| container_partial(c) }

%hr 

.panel.jobsyndicate
  <script type="text/javascript">
  _JS_AFF_ID = 24;
  _JS_JOB_COUNT = 2;
  _JS_FONT_SIZE = 12;
  _JS_FONT = "Verdana";
  _JS_HEADER_COLOR = "#000000";
  _JS_TEXT_COLOR = "#000000";
  _JS_COMPANY_COLOR = "#0000ff";
  _JS_AD_ORIENTATION = "2";
  _JS_JOB_LIST = new Array();
  _JS_LINK_STYLE = 1;
  </script>
  <script type="text/javascript" src="http://jobsyndicate.com/JServ/Generic.js"></script>

= partial 'thread/_thread_line.html', :locals => { :thread => @thread, :list => @list, :slug => @slug, :year => @year, :month => @month }

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //thread bottom 728x90
    google_ad_slot = "8057217730";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

= partial 'thread/_previous_next.html', :locals => { :previous_link => @previous_link, :next_link => @next_link }
