%h1.subject= subject(@thread)

= partial 'thread/_thread_line.html', :locals => { :thread => @thread, :list => @list, :slug => @slug, :year => @year, :month => @month }
= partial 'thread/_previous_next.html', :locals => { :previous_link => @previous_link, :next_link => @next_link }

= partial 'month/_thread_list.html', :locals => { :thread => @thread }

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //thread top 728x90
    google_ad_slot = "3323202291";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

.thread
  - @missing_count = 0
  - @thread.each do |c|
    = container_partial c

%hr 

= partial 'thread/_thread_line.html', :locals => { :thread => @thread, :list => @list, :slug => @slug, :year => @year, :month => @month }

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //thread bottom 728x90
    google_ad_slot = "8057217730";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

= partial 'thread/_previous_next.html', :locals => { :previous_link => @previous_link, :next_link => @next_link }
