- sym = thread.sym
- slug = sym.slug
%p
  = thread.count
  = thread.count == 1 ? "message" : "messages"
  in this thread from
  %a{ href: "/#{slug}" }= list.title_name
  in
  %a{ href: "/#{slug}/#{sym.year}/#{sym.month}/#t-#{thread.call_number}" }= sym.when
