%p
  = thread.count
  messages in this thread from 
  %a{ :href => "/#{@slug}" }= (list['name'] or slug)
  in
  %a{ :href => "/#{@slug}/#{year}/#{month}/#t-#{thread.call_number}" }= year.to_s + "-" + month
