%section
  %header
    %h1.subject= subject(@thread.n_subject)

    = partial 'thread/_thread_line.html', locals: { thread: @thread, list: @list }
    = partial 'thread/_previous_next.html', locals: { previous_link: @previous_link, next_link: @next_link }

  = partial 'month/_thread_list.html', locals: { thread: @thread }

  .thread
    - @thread.each do |c|
      = container_partial c

  %hr

  %footer
    = partial 'thread/_thread_line.html', locals: { thread: @thread, list: @list }
    = partial 'thread/_previous_next.html', locals: { previous_link: @previous_link, next_link: @next_link }
