.list
  %h1= (list['name'] or slug)

  - if list['description']
    %p.description= list['description']

  - if list['homepage']
    %p
      Homepage: 
      %a{ :href => list['homepage'] }= list['homepage']


  %table
    %thead
      %tr.months
        %td.upper_left
        - 1.upto(12) do |i|
          %td= i
    %tbody
      - years.to_a.each do |year, months|
        %tr
          %td.year= year
          - 1.upto(12) do |i|
            - month = "%02d" % i
            - if months.has_key?(month)
              %td.month
                %a{ :href => "#{year}/#{month}" }= months[month][:threads].to_s + ':' + months[month][:messages].to_s
            - else
              %td.empty_month= ''
