%h1.subject= Message.normalize_subject thread.first.subject

= render :partial => 'thread_line', :locals => { :thread => thread, :list => list, :slug => slug, :year => year, :month => month }
= render :partial => 'thread_list', :locals => { :thread => thread }

.thread
  - @missing_count = 0
  = thread.collect { |message, depth, parent| render :partial => message_partial(message), :locals => { :message => message } }

%hr 
= render :partial => 'thread_line', :locals => { :thread => thread, :list => list, :slug => slug, :year => year, :month => month }
