.month
  %h1
    %a{ href: "/#{@slug}" }= (@list.title_name)
    = "#{@year}-#{@month}"

  %p= "#{@month_count.message_count} messages in #{@month_count.thread_count} threads"

%ol.threads
  - @threadset.each do |thread|
    %li.thread
      %a{ id: "t-#{thread.call_number}", name: "t-#{thread.call_number}" }/
      .header
        %span.count= thread.count
        %a.subject{ href: "/#{@slug}/#{@year}/#{@month}/#{thread.call_number}" }= subject(thread)
      = partial :'month/_thread_list.html', locals: { thread: thread }

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //month 728x90
    google_ad_slot = "1721576418";
    google_ad_slot = "3323202291";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

= partial :'month/_previous_next.html', locals: { previous_link: @previous_link, next_link: @next_link }
