.list
  %h1= @list.title_name


  %table{ summary: "Links to monthly archives of this list" }
    %thead
      %tr.months
        %td.upper_left
        - 1.upto(12) do |i|
          %td= i
    %tbody
      - @years_of_month_counts.to_a.each do |year, months|
        %tr
          %td.year= year
          - 1.upto(12) do |month|
            - if months.has_key?(month)
              %td.month.small
                %a{ href: "/#{@slug}/#{year}/#{'%02d' % month}" } #{months[month].thread_count}:#{months[month].message_count}
            - else
              %td.empty_month= ''

  - if @list.homepage
    %p
      Homepage:
      %a{ href: @list.homepage }= @list.homepage

  - if @list.description
    = @list.description

-# .panel
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //list 728x90
    google_ad_slot = "4419637549";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

- unless @snippets.empty?
  .snippets
    <h2>Recent Messages</h2>
    %ul
      - @snippets.each do |snippet|
        %li
          %a.subject{ href: snippet[:url] }= subject(snippet[:subject])
          %span.excerpt= h snippet[:excerpt]
