.list
  %h1= (list['name'] or slug)

  - if list['description']
    %p.description= list['description']

  - if list['homepage']
    %p
      Homepage: 
      %a{ :href => list['homepage'] }= list['homepage']


  %table{ :summary => "Links to monthly archives of this list" }
    %thead
      %tr.months
        %td.upper_left
        - 1.upto(12) do |i|
          %td= i
    %tbody
      - years.to_a.each do |year, months|
        %tr
          %td.year= year
          - 1.upto(12) do |i|
            - month = "%02d" % i
            - if months.has_key?(month)
              %td.month.small
                %a{ :href => "#{year}/#{month}" }= months[month][:threads].to_s + ':' + months[month][:messages].to_s
            - else
              %td.empty_month= ''

.ad
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //list 728x90
    google_ad_slot = "4419637549";
    google_ad_width = 728;
    google_ad_height = 90;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
