.message
  %a{ :id => "m#{message.call_number}", :name => "m#{message.call_number}" }/
  .header
    %h4.from= h message.from
    %a{ :href => "#m#{message.call_number}", :title => "Link to this message" }
      %h6.date= message.date.strftime("%Y-%m-%d %H:%M:%S")
  ~ '<pre class="body">' + compress_quotes(h(message.body)) + '</pre>'
