.month
  %h1
    %a{ :href => "/#{slug}" }= (list['name'] or slug)
    = "#{year}-#{month}"

  - if message_count
    %p= "#{message_count} messages in #{threadset.length} threads"

.ad
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-3425662504305490";
    //month 160x600
    google_ad_slot = "1721576418";
    google_ad_width = 160;
    google_ad_height = 600;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

%ol.threads
  - threadset.each do |thread|
    %li.thread
      %a{ :id => "t#{thread.call_number}", :name => "t#{thread.call_number}" }/
      .header
        %span.count= thread.count
        %a.subject{ :href => thread.call_number }= subject(thread)
      = render :partial => 'thread_list', :locals => { :thread => thread }

= render :partial => 'previous_next', :locals => { :previous_link => previous_link, :next_link => next_link }
