.month
  %h1
    %a{ :href => "/#{slug}" }= (list['name'] or slug)
    = "#{year}-#{month}"

  - if inventory
    %p= "#{inventory[:messages]} messages in #{inventory[:threads]} threads"

%ol.threads
  - threadset.threads.each do |thread|
    %li.thread
      %a{ :id => "t#{thread.call_number}", :name => "t#{thread.call_number}" }/
      .header
        %span.count= thread.count
        %a.subject{ :href => thread.call_number }= subject(thread.first)
      = render :partial => 'thread_list', :locals => { :thread => thread }

.previous_next
  = previous_link
  = next_link
