%ol.thread_list
  - @missing_count = 0
  - subjects = [{ :depth => -1, :subject => thread.subject }]
  - thread.each do |message, depth, parent|
    %li
      - if message.nil?
        - @missing_count += 1
        %span.indent{ :style => "width: #{depth * 1.5}em" } &nbsp;
        %a{ :href => "#missing-#{@missing_count}", :class => "missing" } missing
      - elsif message.no_archive
        %span.indent{ :style => "width: #{depth * 1.5}em" } &nbsp;
        %a{ :href => "#m#{message.call_number}", :class => "missing" } not archived
      - else
        %a{ :href => "#m#{message.call_number}", :class => "message" }
          %span.indent{ :style => "width: #{depth * 1.5}em" } &nbsp;
          = h message.from
          %span.date= message.date.strftime("%m-%d %H:%M")
          - s = Message.normalize_subject(message.subject)
          - subjects.pop while depth <= subjects.last[:depth]
          - if s != subjects.last[:subject] and !subjects.last[:subject].include? s
            - subjects << { :depth => depth, :subject => s }
            %span.subject= subject(message)
